@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1500px;
  width: 80%;
  margin: auto;
}

p {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

main {
  background-image: url(../images/pattern-bg.png);
  background-size: cover;
  text-align: center;
  padding: 80px 0px;
  position: relative;
}

.ip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

input[type=text] {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 15px 25px;
  border: none;
  width: 600px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
   -webkit-appearance: none;
}

input[type=text]:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1pt #2b2b2b;
          box-shadow: inset 0 0 3px 1pt #2b2b2b;
}

input[type=submit] {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
   -webkit-appearance: none;
   appearance: none;
}

input[type=submit]:focus {
  outline: none;
}

input[type=submit]:hover {
  background: #2b2b2b;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.map {
  height: 52vh;
}

iframe {
  width: 100%;
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  background: #fff;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: -150px;
  justify-items: baseline;
}

.location {
  color: #000;
  text-transform: uppercase;
  padding: 0px 20px;
  text-align: left;
  margin: 0 auto;
}

.location p {
  font-weight: 500;
  font-size: 1.4rem;
  width: 100%;
}

.location:nth-child(2) {
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}

.location:last-child {
  border-left: 1px solid #969696;
}

.title p {
  margin-bottom: 10px;
  color: #969696;
  font-weight: 700;
  font-size: .8rem;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  input[type=text] {
    padding: 10px 25px;
  }
  .location p {
    font-size: 1.1rem;
  }
  .title p {
    font-size: .7rem;
  }
}

@media screen and (max-width: 700px) {
  main {
    padding: 50px 0px;
  }
  .locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0px;
    max-width: 350px;
    width: 100%;
    margin-bottom: -180px;
  }
  input[type=text] {
    font-size: 1rem;
  }
  .location {
    text-align: center;
    margin: 10px auto;
  }
  .location:nth-child(2) {
    border: none;
  }
  .location:last-child {
    border: none;
  }
}

@media screen and (max-width: 600px) {
  input[type=text] {
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .ip {
    width: 100%;
  }
  .locations {
    width: 100%;
  }
}
/*# sourceMappingURL=css.css.map */
